@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  background-image: image-url("gradient.png");
  background-size: cover;
  color: #FFF;
  margin: 0;
  padding: 0;
}

.content {
  padding: 1rem;

  @include breakpoint(medium) {
    display: grid;
    max-width: 55rem;
    margin: 4rem auto;
    grid-template-rows: auto;
    grid-template-columns: auto-fit;
    grid-template-columns: 25rem 1fr;
    grid-template-areas: "content cover";
  }
}

.col-1 {
  @include breakpoint(medium) {
    grid-area: content;
  }
}

.col-2 {
  .cover {
    width: 100%;
  }
  @include breakpoint(medium) {
    grid-area: cover;
  }
}

.cover {
  @include breakpoint(medium) {
    margin-left: 6rem;
  }
}

.home-link {
  font-size: $font-size-regular;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.separator {
  width: 100%;
  border-bottom: 1px solid #FFF;
  opacity: .4;
  margin-top: 3rem;
}

.release {
  text-transform: uppercase;
}

.button {
  display: inline-block;
  background: #FFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: .8rem;
  text-align: center;
  padding: .6rem 1.5rem .5rem 1.5rem;
  font-weight: $font-weight-medium;
  color: #6D4AE8;
  //margin-bottom: 3rem;
  &:hover {
    color: #FFF;
    background: #6D4AE8;
  }
}

.survey {
  max-width: 35rem;
  height: 100%;
  margin: 4rem auto;
}

.mc-field-group {
  display: inline;
  float: left;
}

.mc-status {
  //padding-top: .5rem;
}

.success-message {
  color: #FFF;
}

.error-message {
  color: #F67CF9;
  display: inline-block;
}

#mc_embed_signup_scroll {
  margin-bottom: .5rem;
}

input {
  border-radius: 3px;
  border: 0;
  padding: .39rem .4rem .39rem .4rem;
  display: inline;
  &:focus {
    outline: 0;
  }
}

input[type=email] {
  width: 14rem;
}

input[type=submit] {
  //background-color: $yellow;
  //color: $dark-grey;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-left: .5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  //font-size: $font-size-small;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  &:hover {
    cursor: pointer;
  }
}
