@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  background-image: image-url("gradient.png");
  background-size: cover;
  color: #FFF;
}

.content {
  max-width: 60rem;
  margin: 4rem auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto-fit;
  grid-template-areas:
  "content"
  "cover";

  @include breakpoint(medium) {
    padding: 0 $main-padding;
    grid-template-columns: 25rem 1fr;
    grid-template-areas:
      "content cover";
  }
}

.col-1 {
  grid-area: content;
  //max-width: 25rem;
}

.col-2 {
  grid-area: cover;
}

.cover {
  max-width: 28rem;
  margin-left: 8rem;
  //box-shadow: -12px 13px 25px 2px rgba(0, 0, 0, 0.25);
}

.separator {
  width: 100%;
  border-bottom: 1px solid #FFF;
  opacity: .4;
}

.release {
  text-transform: uppercase;
}

.button {
  display: inline-block;
  background: #FFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: .8rem;
  text-align: center;
  padding: .6rem 1.5rem .5rem 1.5rem;
  font-weight: $font-weight-medium;
  color: #6D4AE8;
  margin-bottom: 3rem;
  &:hover {
    color: #FFF;
    background: #6D4AE8;
  }
}

.survey {
  max-width: 35rem;
  height: 100%;
  margin: 4rem auto;
}
