@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/normalize';

body {
  background-image: image-url("gradient.png");
  background-size: cover;
  color: #FFF;
  margin: 0;
  padding: 0;
}

.content {
  padding: 1rem;

  @include breakpoint(medium) {
    display: grid;
    max-width: 55rem;
    margin: 4rem auto;
    grid-template-rows: auto;
    grid-template-columns: auto-fit;
    grid-template-columns: 25rem 1fr;
    grid-template-areas: "content cover";
  }
}

.col-1 {
  @include breakpoint(medium) {
    grid-area: content;
  }
}

.col-2 {
  .cover {
    width: 100%;
  }
  @include breakpoint(medium) {
    grid-area: cover;
  }
}

.cover {
  @include breakpoint(medium) {
    margin-left: 6rem;
  }
}

.separator {
  width: 100%;
  border-bottom: 1px solid #FFF;
  opacity: .4;
}

.release {
  text-transform: uppercase;
}

.button {
  display: inline-block;
  background: #FFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: .8rem;
  text-align: center;
  padding: .6rem 1.5rem .5rem 1.5rem;
  font-weight: $font-weight-medium;
  color: #6D4AE8;
  margin-bottom: 3rem;
  &:hover {
    color: #FFF;
    background: #6D4AE8;
  }
}

.survey {
  max-width: 35rem;
  height: 100%;
  margin: 4rem auto;
}
